---
const { imagen } = Astro.props
const { txt } = Astro.props
const { ident } = Astro.props
const { classes } = Astro.props
const baseClasses  = "flex flex-col items-center hover:-translate-y-2 cursor-pointer rounded-md ] duration-300 hover:bg-neutral-600 transition-all justify-center"
const finalClasses = `${classes} ${baseClasses}`
---


<section id={ident} class={finalClasses}>
    <img class="w-[100px] h-[100px] md:w-[170px] md:h-[170px]" src={imagen} alt="">
    <p class="mt-3 text-[10px] md:text-sm">{txt}</p>
</section>